<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LOGIN_PAGE_NAME' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
    <ion-list no-lines>

      <ion-item>
        <ion-label stacked>{{'PHONE_NUMBER_PLACEHOLDER' | translate}}</ion-label>
        <ion-input type="tel" formControlName="phone"></ion-input>
        <ion-icon *ngIf="formSubmitted && loginForm.get('phone').invalid" name="warning" class="ng-invalid" item-end></ion-icon>
        <ion-icon *ngIf="formSubmitted && loginForm.get('phone').valid" name="checkmark-circle" class="ng-valid" item-end></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{'PASSWORD_PLACEHOLDER' | translate}}</ion-label>
        <ion-input type="number" style="-webkit-text-security:disc;" ng-pattern="/^[0-9]{4}$/" formControlName="password"></ion-input>
        <ion-icon *ngIf="formSubmitted && loginForm.get('password').invalid" name="warning" class="ng-invalid" item-end></ion-icon>
        <ion-icon *ngIf="formSubmitted && loginForm.get('password').valid" name="checkmark-circle" class="ng-valid" item-end></ion-icon>
      </ion-item>

      <ion-item>
        <ion-toggle item-left formControlName="remember"></ion-toggle>
        <ion-label>{{'REMEMBER_ME' | translate}}</ion-label>
      </ion-item>

      <ion-item></ion-item>

      <ion-item>
        <button ion-button large round color="primary" block type="submit" block>{{'CONFIRM' | translate }}</button>
      </ion-item>

    </ion-list>
  </form>

  <div padding>
    <button ion-button outline round block (click)="openSignUpPage()">{{'SIGN_UP_PAGE_NAME' | translate }}</button>
  </div>

  <p text-center>
    <a (click)="forgottenPasswordAlert()">{{'FORGOTTEN_PASSWORD_PAGE_NAME' | translate}}</a>
  </p>

</ion-content>
