@import '../../app/app.scss';

page-login {
  .toolbar-title {
    text-align: center;
  }

  .item-ios, .item-md {
    //padding-left: 0;
    padding-bottom: 15px;
  }

  //.item-ios.item-label-stacked .text-input, .item-md.item-label-stacked .text-input {
  //  border: solid 1px #DDD;
  //  border-radius: 5px;
  //  padding: 15px 5px;
  //}

  .label-ios[stacked], .label-md[stacked] {
    font-size: 1.8rem;
  }

  .toggle-ios.toggle-checked .toggle-icon {
    background-color: $color-orange;
  }

  .toggle-md.toggle-checked .toggle-icon {
    background-color: lighten($color-orange, 25%);

    .toggle-inner {
      background-color: $color-orange;
    }
  }

  .button-ios-primary, .button-md-primary {
    background-color: $color-purple-dark;
    color: $color-white;
    font-family: Helvetica;

    &.activated {
      background-color: $color-orange;
    }
  }

  .button-outline {
    border-color: $color-orange;
    color: $color-orange;

    &.activated {
      background-color: $color-orange;
      color: $color-white;
    }
  }
}
