page-details-contact {
  //ion-col div {
  //  background-color: #f0f5af;
  //  border: 1px solid #e6e9ee;
  //  border-radius: 2px;
  //  padding: 5px;
  //  text-align: center;
  //}

  .contact-centered {
    text-align: center;
  }

  .contact-grav {
    border-width: 5px;
    height: 130px;
    width: 130px;
    text-align: center;
  }

  .contact-gravatar {
    height: 120px;
    width: 120px;
    border-radius: 50%;
  }

  .contact-segment {
    color: dark;
    border-color: #32db64;
  }
}
