<!--
  Generated template for the AddEditContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{pageTitle | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addEditContact()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="addEditForm" (ngSubmit)="addEditContact()">
    <ion-list no-lines>

      <ion-item>
        <ion-label floating>{{'PHONE_NUMBER' | translate}}</ion-label>
        <ion-input type="tel" formControlName="phone"></ion-input>
        <ion-icon *ngIf="formSubmitted && addEditForm.get('phone').invalid" name="warning" class="ng-invalid" item-end></ion-icon>
        <ion-icon *ngIf="formSubmitted && addEditForm.get('phone').valid" name="checkmark-circle" class="ng-valid" item-end></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label floating>{{'FIRST_NAME' | translate}}</ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
        <ion-icon *ngIf="formSubmitted && addEditForm.get('firstName').invalid" name="warning" class="ng-invalid" item-end></ion-icon>
        <ion-icon *ngIf="formSubmitted && addEditForm.get('firstName').valid" name="checkmark-circle" class="ng-valid" item-end></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label floating>{{'FAMILY_NAME' | translate}}</ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
        <ion-icon *ngIf="formSubmitted && addEditForm.get('lastName').invalid" name="warning" class="ng-invalid" item-end></ion-icon>
        <ion-icon *ngIf="formSubmitted && addEditForm.get('lastName').valid" name="checkmark-circle" class="ng-valid" item-end></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label floating>{{'EMAIL' | translate}}</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
        <ion-icon *ngIf="formSubmitted && addEditForm.get('email').invalid" name="warning" class="ng-invalid" item-end></ion-icon>
        <ion-icon *ngIf="formSubmitted && addEditForm.get('email').valid" name="checkmark-circle" class="ng-valid" item-end></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label floating>{{'PROFILE' | translate}}</ion-label>
        <ion-select formControlName="profile" interface="popover">
          <ion-option *ngFor="let profile of profiles" value="{{ profile }}">{{ profile }}</ion-option>
        </ion-select>
        <ion-icon *ngIf="formSubmitted && addEditForm.get('profile').invalid" name="warning" class="ng-invalid" item-end></ion-icon>
        <ion-icon *ngIf="formSubmitted && addEditForm.get('profile').valid" name="checkmark-circle" class="ng-valid" item-end></ion-icon>
      </ion-item>

      <ion-item>
        <button ion-button large round color="primary" block type="submit" block>{{'CONFIRM' | translate}}</button>
      </ion-item>

    </ion-list>
  </form>
</ion-content>
