@import '../../app/app.scss';

contact-cell {
  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2%;
    justify-content: space-between;
    padding-right: 1%;
    margin-bottom: 5px;
  }

  .image {
    max-width: 50px;
    border-radius: 50%;
    width: 25%;
  }

  .button {
    border-color: $color-orange;
    color: $color-orange;
    width: 25%;
    font-size: 80%;
  }

  .contactName {
    font-size: 100%;
  }

}

