<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'CONTACTS_PAGE_NAME' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openAddEdit()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar *ngIf="!(tabRef.getSelected()==tabFrq || (contacts.length==0 && tabRef.getSelected()==tabAll))">
    <ion-searchbar [(ngModel)]="searchBarInput" (ionInput)="doSearch($event)" placeholder="{{'SEARCH_PLACEHOLDER' | translate}}"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="favorites.length==0 && tabRef.getSelected()==tabFav" class="zero-favoris">
    <p class="text">{{'ADD_FAVORITE_CONTACT_MESSAGE' | translate}}</p>
    <div class="pseudo-fav">
      <button ion-button outline round id="favoriteButton" color="myorange">
        {{'ADD_TO_FAVORITES' | translate}}
      </button>
    </div>
  </div>
  <div *ngIf="contacts.length==0 && tabRef.getSelected()==tabAll" class="zero-contacts">
    <p class="text">{{'ADD_FIRST_CONTACT_MESSAGE' | translate}}</p>
    <img src="assets/imgs/arrow.png" class="arrow-image"/>
  </div>
  <div *ngIf="frequents.length==0 && tabRef.getSelected()==tabFrq" class="zero-frequent">
    <p class="text">{{'FREQUENT_CONTACT_MESSAGE' | translate}}</p>
  </div>
  <ion-list class="mylist">
    <ion-item class="card" *ngFor="let contact of displayedList" (click)="navigateToDetails(contact);false">
        <ion-avatar item-start>
          <img src="{{contact.gravatar}}">
          <img *ngIf="isFavorite" class="contact-star-icon" src="assets/imgs/star-fill.png" />
        </ion-avatar>
        <h2>{{contact.firstName}} {{contact.lastName}}</h2>
        <p class="contact-profile">{{contact.profile}}</p>
        <button ion-button round outline small item-right color="secondary" (click)="callContact(contact.phone)">{{'CALL_ACTION' | translate}}</button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
  <ion-tabs #tabbar tabs-only selectedIndex="1" color="purple-dark">
    <ion-tab #fav (ionSelect)="displayFavorites()" tabTitle={{favoriteContactsTabName}} tabIcon="star" [root]="root"></ion-tab>
    <ion-tab #all (ionSelect)="displayAllContacts()" tabTitle={{allContactsTabName}} tabIcon="people" [root]="root" tabBadgeStyle="dark"></ion-tab>
    <ion-tab #frq (ionSelect)="displayFrequent()" tabTitle={{frequentContactsTabName}} tabIcon="time" [root]="root"></ion-tab>
  </ion-tabs>
  </ion-toolbar>
</ion-footer>


