<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'CONTACTS_PAGE_NAME' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openAddEdit()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar placeholder={{searchPlaceholder}}></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 *ngIf="displayedList.length==0">TODO: design avec image de l'ajout de favoris dans détails (ou autre)</h2>
  <ion-list class="mylist">
    <ion-item *ngFor="let contact of displayedList">
      <contact-cell [contact]="contact"></contact-cell>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
  <ion-tabs tabs-only selectedIndex="1" color="purple-dark">
    <ion-tab (ionSelect)="displayFavorites()" tabTitle={{favoriteContactsTabName}} tabIcon="star" [root]="root"></ion-tab>
    <ion-tab (ionSelect)="displayAllContacts()" tabTitle={{allContactsTabName}} tabIcon="people" [root]="root" tabBadgeStyle="dark"></ion-tab>
    <ion-tab (ionSelect)="displayFrequent()" tabTitle={{frequentContactsTabName}} tabIcon="time" [root]="root"></ion-tab>
  </ion-tabs>
  </ion-toolbar>
</ion-footer>


