@import '../../theme/variables';

page-list {
  .ios {
    .tabs {
      .tabbar {
        margin-top: 25px;
        padding-bottom: 0;
      }
    }
  }
  .tabs-ios, .tabs-md {
    .tab-button[aria-selected=true] {
      color: color($colors, myorange);
      .icon {
        color: color($colors, myorange);
      }
    }
  }
}

.card {
  min-height: 7rem;
}

p.contact-profile {
  font-size: 1.2rem;
}

img.contact-star-icon {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  width: 6% !important;
  height: auto !important;
}

.zero-contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  left: 15%;
  right: 4%;
  .text {
    font-size: 2.2rem;
    opacity: .30;
    position: absolute;
    top: 0;
    right: 80px;
    left: 20px;
  }
  .arrow-image {
    width: 80px;
    opacity: .30;
  }
}

.zero-favoris {
  position: absolute;
  bottom: 3rem;
  .text {
    text-align: center;
    font-size: 2.2rem;
    opacity: .30;
  }
  .pseudo-fav {
    width: fit-content;
    margin: 1rem auto 0;
    &.activated {
      color: inherit;
      background-color: inherit;
    }
  }
}

.zero-frequent {
  position: absolute;
  bottom: 50%;
  .text {
    text-align: center;
    font-size: 2.2rem;
    opacity: .30;
  }
}

ion-tabs {
  margin-bottom: 0;
}

ion-tabs,
ion-tabs .tabbar {
  position: absolute;
  height: auto;
  visibility: visible;
  opacity: 1;
  bottom: 0;
}
