<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'CONTACTS_PAGE_NAME' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openAddEdit()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar *ngIf="!(tabRef.getSelected()==tabFrq)">
    <ion-searchbar [(ngModel)]="searchBarInput" (ionInput)="doSearch($event)" placeholder="{{searchPlaceholder}}"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 *ngIf="favorites.length==0 && tabRef.getSelected()==tabFav">TODO: design avec image de l'ajout de favoris dans détails (ou autre)</h2>
  <h2 *ngIf="contacts.length==0 && tabRef.getSelected()==tabAll">TODO: liste de contact vide: flèche indiquant comment ajouter</h2>
  <h2 *ngIf="frequents.length==0 && tabRef.getSelected()==tabFrq">TODO: pas de contacts fréquents: informer</h2>
  <ion-list class="mylist">
    <ion-item class="card" *ngFor="let contact of displayedList" (click)="navigateToDetails(contact);false">
        <ion-avatar item-start>
          <img src="http://www.ac-grenoble.fr/ecoles/gm/local/cache-vignettes/L500xH500/chaton_1-33648.png">
        </ion-avatar>
        <h2>{{contact.firstName}} {{contact.lastName}}</h2>
        <button ion-button round outline small item-right color="secondary" (click)="callContact(contact.phone)">Appeler</button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
  <ion-tabs #tabbar tabs-only selectedIndex="1" color="purple-dark">
    <ion-tab #fav (ionSelect)="displayFavorites()" tabTitle={{favoriteContactsTabName}} tabIcon="star" [root]="root"></ion-tab>
    <ion-tab #all (ionSelect)="displayAllContacts()" tabTitle={{allContactsTabName}} tabIcon="people" [root]="root" tabBadgeStyle="dark"></ion-tab>
    <ion-tab #frq (ionSelect)="displayFrequent()" tabTitle={{frequentContactsTabName}} tabIcon="time" [root]="root"></ion-tab>
  </ion-tabs>
  </ion-toolbar>
</ion-footer>


